.footer{
display: flex;
justify-content: center;
height: 20vh;
position: relative;
/* margin-bottom: 0px; */
bottom: -200px;
background-color: #3f0d39;

;

}
.footer-part{
    position: absolute;
    top: 45%;
}
span{
    color: #fff;
    text-align: center;
}