.navbar{
    background-color: #3f0d39 !important;
   
  
}

/* .container text-center{
    background-color: aquamarine;
} */

/* text-center */
.container{
    background-color: rgb(234, 172, 232);
    border-radius: 5px 5px 5px 5px;
    padding-left: 20%;
}
.nav-link{
    color: black;
   
}
.nav-item{
    text-align: center;

}